.chat-container{
    height: 100vh;
    background-color:#414A4C;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    
}
*{
    margin:0;
    padding:0;
    
}


